.panel{
    margin:0;
}
.remove-todo{
    font-size: 32px;
    transition: color 0.2s;
    color: rgba(255, 0, 0, 0.62);
    line-height: 20px;
    float: right;
    padding-right: 10px;
}
.label-todo{
    margin-top: 5px;
}