

<!-- 以下是左侧工具栏 -->


   <div class="menu_1 menu_1_1"><span>单位基本信息</span></div>
       <div class="menu_1_2">
     <div [routerLink]="['./xtsz/bmjbxx']" class="out"><span>部门基本信息</span></div>
     <div [routerLink]="['./xsgl/xxsh']" class="out"><span>菜单占位</span></div>
     <div [routerLink]="['./xsgl/zszl']" class="out out_last"><span>菜单占位</span></div>
     </div>	
   <div class="menu_1 menu_1_1"><span>权限管理</span></div>
     <div class="menu_1_2">
       <div [routerLink]="['./xtsz/jsgl']" class="out"><span>创建角色</span></div>
       <div [routerLink]="['./xtsz/jslb']" class="out"><span>角色列表</span></div>
       <div [routerLink]="['./xtsz/yhsq']" class="out out_last"><span>用户授权</span></div>
     </div>
   <div class="menu_1"><span>用户管理 </span></div>
       <div class="menu_1_2">
       <div [routerLink]="['./xtsz/yhlb']" class="out"><span>用户列表</span></div>
       <div [routerLink]="['./xtsz/dljl']" class="out"><span>登录记录</span></div>
       <div class="out"><span>菜单占位</span></div>
       <div class="out out_last"><span>菜单占位</span></div>
     </div>
   <div class="menu_1"><span>菜单占位</span></div>
   <div class="menu_1"><span>菜单占位</span></div>
   <div class="menu_1"><span>菜单占位</span></div>
   <div class="menu_1 menu_1_end"><span>菜单占位</span></div>

 