

<!-- 以下是左侧工具栏 -->

<div class="menu">
  <div class="menu2">
   <div class="menu-title">
      <img class="menu-title-img" src="assets/images/dian_1.png">
      系统设置
     </div>
   <div class="menu_ul">
   <div class="menu_1 menu_1_1"><span>部门设置</span></div>
       <div class="menu_1_2">
     <div [routerLink]="['./xtsz/bmjbxx']" class="out"><span>部门基本信息</span></div>
     <div [routerLink]="['./xsgl/xxsh']" class="out"><span>菜单占位</span></div>
     <div [routerLink]="['./xsgl/zszl']" class="out out_last"><span>菜单占位</span></div>
     </div>	
   <div class="menu_1 menu_1_1"><span>菜单占位</span></div>
     <div class="menu_1_2">
       <div class="out"><span>菜单占位</span></div>
       <div class="out"><span>菜单占位</span></div>
       <div class="out"><span>菜单占位</span></div>
       <div class="out out_last"><span>菜单占位</span></div>
     </div>
   <div class="menu_1"><span>菜单占位 </span></div>
       <div class="menu_1_2">
       <div [routerLink]="['./nanss']" class="out"><span>菜单占位</span></div>
       <div [routerLink]="['./nvss']" class="out"><span>菜单占位</span></div>
       <div class="out"><span>菜单占位</span></div>
       <div class="out out_last"><span>菜单占位</span></div>
     </div>
   <div class="menu_1"><span>菜单占位</span></div>
   <div class="menu_1"><span>菜单占位</span></div>
   <div class="menu_1"><span>菜单占位</span></div>
   <div class="menu_1"><span>菜单占位</span></div>
   </div>
 </div>
 </div>
 