

<!-- 以下是左侧工具栏 -->

	<div class="menu">
 	<div class="menu2">
		<div class="menu-title">
	   	<img class="menu-title-img" src="assets/images/dian_1.png">
	  	 学生管理
	  	</div>
	  <div class="menu_ul">
	  <div class="menu_1 menu_1_1"><span>招生平台</span></div>
	  		<div class="menu_1_2">
			<div [routerLink]="['./cjxs']" class="out"><span>新生入校</span></div>
			<div [routerLink]="['./xxsh']" class="out"><span>信息审核</span></div>
			<div [routerLink]="['./zszl']" class="out out_last"><span>招生总览</span></div>
			</div>	
	  <div class="menu_1 menu_1_1"><span>班级管理</span></div>
			<div class="menu_1_2">
				<div class="out"><span>菜单占位</span></div>
				<div class="out"><span>菜单占位</span></div>
				<div class="out"><span>菜单占位</span></div>
				<div class="out out_last"><span>菜单占位</span></div>
			</div>
	  <div class="menu_1"><span>宿舍管理 </span></div>
	  		<div class="menu_1_2">
				<div [routerLink]="['./nanss']" class="out"><span>男生宿舍</span></div>
				<div [routerLink]="['./nvss']" class="out"><span>女生宿舍</span></div>
				<div class="out"><span>菜单占位</span></div>
				<div class="out out_last"><span>菜单占位</span></div>
			</div>
	  <div class="menu_1"><span>菜单占位</span></div>
	  <div class="menu_1"><span>菜单占位</span></div>
	  <div class="menu_1"><span>菜单占位</span></div>
	  <div class="menu_1"><span>菜单占位</span></div>
	  </div>
	</div>
	</div>
	