<div class="right_title"><img class="title_arrow" src="assets/images/title_arrow.png">
  <div class="title_txt">部门设置
  </div>
</div>
<div class="right_content"> 
<!-- 内容区域开始 -->
<div class="container" >
  <div class="col-md-4">
  <div class="panel panel-primary">
      <div class="panel-heading">
          <h3 class="panel-title">部门维护</h3>
        </div>
<form class="form-horizontal" role="form" [formGroup] = "formModel" (submit)="tj()">
    
      <div class="panel-body">
  <div class="form-group">
<button class="btn btn-success btn-sm" type="button" (click)="addbm()" >添加部门</button>
<button class="btn btn-success btn-sm" type="button" (click)="qx()" >取消操作</button>
<button class="btn btn-success btn-sm" type="submit" >提交修改</button>
</div>

<div formArrayName="bms">
  <div class="form-group" *ngFor="let bm of formModel.get('bms').controls;let i = index" >
    
    <label class="control-label  col-md-1">{{i+1}}</label>
  <div class="col-md-6">
    <input class="form-control" [formControlName]="i"> 
   </div>
    <button class="btn btn-success btn-sm col-md-3" type="button" (click)="removebm(i)">删除部门</button>
  </div>
</div>
</div>
  
</form>
</div>
</div>
</div>
<!-- 内容区域结束 -->
</div>