<!-- 以下是左侧工具栏 -->
	<div class="menu">
 	<div class="menu2">
		<div class="menu-title">
	   	<img class="menu-title-img" src="assets/images/dian_1.png">
	  	财务平台
	  	</div>
	  <div class="menu_ul">
	  <div class="menu_1 menu_1_1"><span>新生缴费</span></div>
	  		<div class="menu_1_2">
				<div [routerLink]="['./gzjf']" class="out"><span>普通高中班</span></div>
				<div [routerLink]="['./cjjf']" class="out"><span>春季实验班</span></div>
				<div [routerLink]="['./jfzl']" class="out out_last"><span>缴费总览</span></div>
			</div>	
	  <div class="menu_1 menu_1_1"><span>老生缴费</span></div>
			<div class="menu_1_2">
				<div [routerLink]="['./gzjf']" class="out"><span>高中缴费</span></div>
				<div [routerLink]="['./czjf']" class="out"><span>初中缴费</span></div>
				<div class="out out_last"><span>菜单占位</span></div>
			</div>	  
	  <div class="menu_1"><span>工资发放</span></div>
	  		<div class="menu_1_2">
				<div [routerLink]="['./gzbsc']" class="out"><span>工资表上传</span></div>
				<div [routerLink]="['./gzbwh']" class="out"><span>工资表维护</span></div>
				<div [routerLink]="['./sjfx']" class="out out_last"><span>数据分析</span></div>
			</div>	
	  <div class="menu_1"><span>菜单占位</span></div>
	  <div class="menu_1"><span>菜单占位</span></div>
	  <div class="menu_1"><span>菜单占位</span></div>
	  <div class="menu_1"><span>菜单占位</span></div>
	  </div>
	</div>
	</div>
	