

<!-- 以下是左侧工具栏 -->

	<div class="menu">
 	<div class="menu2">
		<div class="menu-title">
	   	<img class="menu-title-img" src="assets/images/dian_1.png">
	  	 人事管理
	  	</div>
	  <div class="menu_ul">
	  <div class="menu_1 menu_1_1"><span>新生入学</span></div>
	  		<div class="menu_1_2">
			<div [routerLink]="['./gzcx']" class="out"><span>创建新生</span></div>
			<div [routerLink]="['./gzcx']" class="out"><span>我的招生</span></div>
			<div class="out out_last"><span>流程管理</span></div>
			</div>	
	  <div class="menu_1 menu_1_1"><span>学生管理1</span></div>
			<div class="menu_1_2">
			<a href="#" class="out">我的招生</a>
			<a href="#" class="out">我的招生</a>
			<a href="#" class="out">我的招生</a>
			<a href="#" class="out out_last">我的招生</a>
			</div>	  
	  <div class="menu_1"><span>学生管理2</span></div>
	  <div class="menu_1"><span>学生管理3</span></div>
	  <div class="menu_1"><span>学生管理3</span></div>
	  <div class="menu_1"><span>学生管理3</span></div>
	  <div class="menu_1"><span>学生管理3</span></div>
	  </div>
	</div>
	</div>
	