<div class="right_title">
  <img class="title_arrow" src="assets/images/title_arrow.png">
  <div class="title_txt">查看全部考勤记录
  </div>
</div>
<div class="right_content" id="cwpt" style="padding:5px;">
  <!-- 内容区域开始 -->
  <div>
      <hr>
      <div class="ybp">
          <span>共查询到</span><span style="margin: 0 5px;" >{{cd}}</span><span>条数据</span>
      </div>
      <div class="ybp">
      <span>每页显示</span>
      <select [(ngModel)]="page" (ngModelChange)="setpage()">
          <option *ngFor="let item of pages" [value]='item'>{{item}}</option>
      </select>
      <span>条记录</span>
      </div>
 <button type="button" class="btn btn-danger btn-sm" (click)="sc()" style="margin-left: 15px;margin-bottom: 5px;">删除所有数据</button>
      <span style="margin-left: 30px;">颜色说明：</span>
      <span class="kqjl_cdsj">迟到</span>
      <span class="kqjl_ztsj" style="margin-left: 15px;">早退</span>
      <span class="kqjl_sfkg" style="margin-left: 15px;">旷工</span>

     
     
      <hr>
      <ng2-smart-table class="ng2-smart-table" [settings]="settings" [source]="source"></ng2-smart-table>
  </div>