<div class="top"><img class="logo" src="assets/images/logo.png"></div>
<div class="container">
<div class="col-md-3"></div>
<div class="panel panel-primary col-md-6" id="logindev">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">教师登录</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            <!-- <div name="signUpForm"  class="form-horizontal"  role="form"> -->
                 <form class="form-horizontal" role="form" [formGroup]="formModel" name="signUpForm" (submit)="onSubmit()">
                <!--<form name="signUpForm"  class="form-horizontal" role="form" ng-submit="login()">-->
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            用户名：
                        </label>
                        <div class="col-lg-8" ng-class="{'has-success':signUpForm.username.$valid}">

<input class="form-control" name="username" type="text" [class.hasError]="formModel.get('username').invalid && formModel.get('username').touched" formControlName="username">


                            
                        </div>

                        <div [hidden]="formModel.get('username').valid || formModel.get('username').untouched" class="col-md-8 col-md-offset-2">
                                <div [hidden]="!formModel.hasError('required','username')">用户名不可为空</div>
                                <div [hidden]="!formModel.hasError('minlength','username')">用户名最小长度为2位</div>
                                <div [hidden]="!formModel.hasError('maxlength','username')">用户名最大长度为8位</div>
                            </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            密 &ensp; 码：
                        </label>
                        <div class="col-md-8" >
                     <input class="form-control" name="password" type="text" [class.hasError]="formModel.get('password').invalid && formModel.get('password').touched" formControlName="password">
                        </div>
                         <div [hidden]="formModel.get('password').valid || formModel.get('password').untouched" class="col-md-8 col-md-offset-2">
                                <div [hidden]="!formModel.hasError('required','password')">密码不可为空</div>
                                <div [hidden]="!formModel.hasError('minlength','password')">密码最小长度为6位</div>
                                <div [hidden]="!formModel.hasError('maxlength','password')">密码最大长度为24位</div>
                            </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                          
                             <button type="submit" class="btn btn-success btn-lg col-md-12" style="cursor: pointer">登&ensp;录</button>
                            <a href="#">忘记密码？</a>
                        </div>
                    </div>
                  
                </form>
            </div>
        </div>
    </div>
</div>
</div>
