#c { position: relative;}
#a { position: absolute; left: 10; top: 10; font-size: 12px; font-family: 宋体; }
#b { position: absolute; left: 10; top: 10; font-size: 12px; font-family: 宋体; -moz-opacity:0;opacity: 0;filter: alpha(opacity=0); }
#logindev{
    margin-top: 220px; 
  }
  /*input.error{
      border: 1px solid #a10;
  }*/
  div.error{
      color: #a10;
  }