
		<div class="right_title"><img class="title_arrow" src="assets/images/title_arrow.png">
			<div class="title_txt">我的考勤记录
			</div>
		</div>
<div class="right_content" id="cwpt" style="padding:5px;">
<!-- 内容区域开始 -->
<div>
<hr>
<span>每页显示</span>
    <select [(ngModel)]="page" (ngModelChange)="setpage()">
        <option *ngFor="let item of pages" [value]='item'>{{item}}</option>  
    </select>
    <span>条记录</span>
<hr>
<ng2-smart-table class="ng2-smart-table" [settings]="settings" [source]="source"></ng2-smart-table>
</div>