.ng2-smart-table{
    font-size: 14px;
}
select{
width: 50px;
color: #085dc0;
}
.ybp{
    background-color: #559aea;
    border-radius: 5px;
    padding: 5px;
    display: inline;
    margin-left: 15px;
    color: #fff;
}