

<!-- 以下是左侧工具栏 -->


	  <div class="menu_1 menu_1_1"><span>招生平台</span></div>
	  		<div class="menu_1_2">
			<div [routerLink]="['./xsgl/cjxs']" class="out"><span>新生入校</span></div>
			<div [routerLink]="['./xsgl/xxsh']" class="out"><span>信息审核</span></div>
			<div [routerLink]="['./xsgl/zszl']" class="out out_last"><span>招生总览</span></div>
			</div>	
	  <div class="menu_1 menu_1_1"><span>2017级高中部</span></div>
			<div class="menu_1_2">
				<div class="out"><span>基础信息设置</span></div>
				<div class="out"><span>菜单占位</span></div>
				<div class="out"><span>菜单占位</span></div>
				<div class="out out_last"><span>菜单占位</span></div>
			</div>
	  <div class="menu_1"><span>2016级高中部</span></div>
	  		<div class="menu_1_2">
				<div [routerLink]="['./nanss']" class="out"><span>基础信息维护</span></div>
				<div [routerLink]="['./nvss']" class="out"><span>女生宿舍</span></div>
				<div class="out"><span>菜单占位</span></div>
				<div class="out out_last"><span>菜单占位</span></div>
			</div>
			<div class="menu_1"><span>2015级高中部</span></div>
			<div class="menu_1_2">
			  <div [routerLink]="['./nanss']" class="out"><span>男生宿舍</span></div>
			  <div [routerLink]="['./nvss']" class="out"><span>女生宿舍</span></div>
			  <div class="out"><span>菜单占位</span></div>
			  <div class="out out_last"><span>菜单占位</span></div>
		  </div>
		  <div class="menu_1"><span>初中年级部</span></div>
		  <div class="menu_1_2">
			<div [routerLink]="['./nanss']" class="out"><span>男生宿舍</span></div>
			<div [routerLink]="['./nvss']" class="out"><span>女生宿舍</span></div>
			<div class="out"><span>菜单占位</span></div>
			<div class="out out_last"><span>菜单占位</span></div>
		</div>
	  <div class="menu_1"><span>菜单占位</span></div>
	  <div class="menu_1"><span>菜单占位</span></div>
	  <div class="menu_1"><span>菜单占位</span></div>
	  <div class="menu_1 menu_1_end"><span>菜单占位</span></div>

	