
		<div class="right_title"><img class="title_arrow" src="assets/images/title_arrow.png">
			<div class="title_txt">为角色分配权限
			</div>
		</div>
<div class="right_content" id="cwpt" style="padding:5px;">
<!-- 内容区域开始 -->
<hr>
<div>当前角色：{{data.js}}</div>

<form [formGroup]="myForm">

<div>
  <table>
    <div>
角色子节点：</div>
    <tr class="like" *ngFor="let rol of roles['controls']; let i = index;" >
      <td></td>
     <td><input type="checkbox" [formControl]="rol"></td> 
     <td>name：{{rolesall[i]['name']}} </td><td>描述：{{rolesall[i]['description']}}</td>
    </tr>
    <div class="youselect">{{selects}}</div>
    </table>
</div>
<div>
    权限子节点：
      <div class="like" *ngFor="let per of permissions['controls']; let i = index;" >
        <input type="checkbox" [formControl]="per">
       name：{{permissionsall[i]['name']}} 描述：{{permissionsall[i]['description']}}
      </div>
      <div class="youselect">{{selects}}</div>
      
  </div>
   </form>
<!-- 内容区域结束 -->
<button  type="button" class="btn btn-info" (click)="ok()" >分配权限</button>  
<button  type="button" class="btn btn-warning" (click)="fh()" >返回</button>  
</div>




