
		<div class="right_title"><img class="title_arrow" src="assets/images/title_arrow.png">
			<div class="title_txt">为角色分配权限
			</div>
		</div>
<div class="right_content" id="cwpt" style="padding:5px;">
<!-- 内容区域开始 -->
<hr>
<form [formGroup]="myForm">
		<div class="like" *ngFor="let like of likes.controls; let i = index;" >
		  <input type="checkbox" [formControl]="like"> 
		 {{likesArr[i]}}
		</div>
		<div class="youselect">{{selects}}</div>
	   </form>
<!-- 内容区域结束 -->
<button  type="button" class="btn btn-info" (click)="ok()" >完成</button>  
</div>




