<!-- 以下是左侧工具栏 -->

<div class="menu">
	<div class="menu2">
		<div class="menu-title">
			<img class="menu-title-img" src="assets/images/dian_1.png"> 个人办公
		</div>
		<div class="menu_ul">
			<div class="menu_1 menu_1_1"><span>常用功能</span></div>
			<div class="menu_1_2">
				<div [routerLink]="['./gzcx']" class="out"><span>工资查询</span></div>
				<div class="out"><span>通讯录</span></div>
				<div class="out out_last"><span>菜单占位</span></div>
			</div>
			<div class="menu_1 menu_1_1"><span>招生管理</span></div>
			<div class="menu_1_2">
				<div [routerLink]="['./cjxs']" class="out"><span>新生入校</span></div>
				<div [routerLink]="['./wdzs']" class="out"><span>我的招生</span></div>
				<div class="out out_last"><span>菜单占位</span></div>
			</div>
			<div class="menu_1 menu_1_1"><span>个人档案</span></div>
			<div class="menu_1"><span>资产使用</span></div>
			<div class="menu_1"><span>菜单占位</span></div>
			<div class="menu_1"><span>菜单占位</span></div>
			<div class="menu_1"><span>菜单占位</span></div>

		</div>
	</div>
</div>