

<!-- 以下是左侧工具栏 -->

	  <div class="menu_1 menu_1_1"><span>资产明细</span></div>
	  		<div class="menu_1_2">
			<div [routerLink]="['./zcgl/zcmx']" class="out"><span>资产明细</span></div>
			<div [routerLink]="['./zcgl/zyzc']" class="out"><span>在用资产</span></div>
			<div [routerLink]="['./zcgl/xzzc']"  class="out out_last"><span>闲置资产</span></div>
			</div>	
	  <div class="menu_1 menu_1_1"><span>基础信息设置</span></div>
			<div class="menu_1_2">
				<div [routerLink]="['./zcgl/zclb']" class="out"><span>资产类别</span></div>
				<div [routerLink]="['./zcgl/zcly']" class="out"><span>资产来源</span></div>
				<div [routerLink]="['./zcgl/zczt']"  class="out out_last"><span>资产状态</span></div>
			</div>	  
	  <div class="menu_1"><span>空菜单</span></div>
	  <div class="menu_1"><span>空菜单</span></div>
	  <div class="menu_1"><span>空菜单</span></div>
	  <div class="menu_1"><span>空菜单</span></div>
	  <div class="menu_1 menu_1_end"><span>空菜单</span></div>
