<div class="right_title"><img class="title_arrow" src="assets/images/title_arrow.png">
  <div class="title_txt">学生基本信息设置
  </div>
</div>
<div class="right_content" id="cwpt" style="padding:5px;">
<!-- 内容区域开始 -->
<div>
<hr>
管理身份验证：xxx ；当前学生信息为：xxx；
<hr>
<button type="button" class="btn btn-primary" (click)="add()">添加学生信息</button>
<select [(ngModel)]="del_lcid" class="form-control" style="width: 200px;display: inline;">
<option *ngFor="let x of lcdata" [value]='x.Id'>{{x.name}}</option>
</select>
<button type="button" class="btn btn-primary" (click)="dellc()">删除选中楼层</button>

<hr>
<div style="padding: 50px;">
  <div *ngFor="let x of lcdata;" class="ssl">
    <div class="sslbj"></div>
    <div class="lyxx">楼层名称：{{x.name}} </div>
    </div>
</div>
</div>


<div>

  <form class="form-horizontal" role="form">
    <table class="table table-bordered">
      <tr>
        <td>姓名</td>
        <td>
          <input type="text" class="form-control" placeholder="必填">
        </td>
        <td>学籍号</td>
        <td colspan="2">
            <input type="text" class="form-control" placeholder="必填">            
        </td>
        <td rowspan="3"></td>
      </tr>
      <tr>
        <td>性别</td>
        <td>
            <input type="text" class="form-control" placeholder="必填">                        
        </td>
        <td>身份证号</td>
        <td colspan="2">
            <input type="text" class="form-control" placeholder="必填">                        
        </td>
      </tr>
      <tr>
          <td>身高</td>
          <td>
              <input type="text" class="form-control" placeholder="必填">            
          </td>
          <td>家庭住址</td>
          <td colspan="2">
              <input type="text" class="form-control" placeholder="必填">                          
          </td>
      </tr>
      <tr>
          <td>民族</td>
          <td>
              <input type="text" class="form-control" placeholder="必填">                          
          </td>
          <td>籍贯</td>
          <td>
              <input type="text" class="form-control" placeholder="必填">                          
          </td>
          <td>照片</td>
          <td>
              <input type="text" class="form-control" placeholder="必填">                          
          </td>
      </tr>
      <tr>
          <td>所在班级</td>
          <td>
              <input type="text" class="form-control" placeholder="必填">                          
          </td>
          <td>是否住校</td>
          <td>
              <input type="text" class="form-control" placeholder="必填">            
          </td>
          <td>所在宿舍</td>
          <td>
              <input type="text" class="form-control" placeholder="必填">                          
          </td>
      </tr>
      <tr>
          <td>家长信息</td>
      </tr>
      <tr>
          <td>关系</td>
          <td>姓名</td>
          <td>政治面貌</td>
          <td>工作单位</td>
          <td colspan="2">联系方式</td>
      </tr>
      <tr>
          <td>
            <input type="text" class="form-control" placeholder="必填">                        
          </td>
          <td>
            <input type="text" class="form-control" placeholder="必填">                        
          </td>
          <td>
            <input type="text" class="form-control" placeholder="必填">                        
          </td>
          <td>
            <input type="text" class="form-control" placeholder="必填">                        
          </td>
          <td colspan="2">
            <input type="text" class="form-control" placeholder="必填">                        
          </td>
      </tr>
      <tr>
          <td>
            <input type="text" class="form-control" placeholder="必填">                        
          </td>
          <td>
            <input type="text" class="form-control" placeholder="必填">                        
          </td>
          <td>
            <input type="text" class="form-control" placeholder="必填">                        
          </td>
          <td>
            <input type="text" class="form-control" placeholder="必填">                        
          </td>
          <td colspan="2">
            <input type="text" class="form-control" placeholder="必填">                        
          </td>
      </tr>
    </table>
   
  </form>
  

</div>


</div>
<!-- 内容区域结束 -->