<div class="right_title">
	<img class="title_arrow" src="assets/images/title_arrow.png">
	<div class="title_txt">开始选课
	</div>
</div>
<div class="right_content" id="cwpt" style="padding:5px;">
	<!-- 内容区域开始 -->

	<ngx-table [configuration]="configuration" [data]="data" [columns]="columns">
		<ng-template let-row>
			<td>
				<div class="font-small">
					{{row.Id}}
				</div>
			</td>
			<td>
				<div class="font-small">
					{{row.name}}
				</div>
			</td>
			<td>
				<span class="font-small">{{row.username}}</span>
			</td>
			<td>
				<span class="font-small">{{row.rs}}</span>
			</td>
			<td>
				<span class="font-small">{{row.ybrs}}</span>
			</td>
			<td>
				<span class="font-small">{{row.kssj}}</span>
			</td>
			<td>
				<span class="font-small">{{row.jssj}}</span>
			</td>
			<td>
				<span class="font-small">{{row.zt | zt}}</span>
			</td>
			<td>
				<button class="btn btn-danger btn-xs" (click)=xx(row.Id,kcxqmodal)>详细
				</button>
			</td>
		</ng-template>
	</ngx-table>
</div>
<!-- 内容区域结束 -->

<ng-template #kcxqmodal>
	<div class="modal-header">
		<h4 class="modal-title pull-left">课程详情</h4>
		<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<table class="kcbg">
			<tr> 
				<td class="bt">课程名称</td>
				<td class='bgdata' colspan="3"><span>{{kcdata.name}}</span></td>
			</tr>
			<tr>
				<td class="bt">开课时间</td>
				<td class='bgdata' colspan="3">123</td>
			</tr>

			<tr>
				<td class="bt">人数上限</td>
				<td class="nr bgdata">123</td>
				<td class="bt">已报人数</td>
				<td class="nr bgdata">123</td>
			</tr>
			<tr style="height: 180px;">
				<td class="bt">讲师</td>
				<td align="center" colspan="3">
					<div>123</div>
					<div>456</div>
				</td>
			</tr>
			<tr>
				<td class="bt">讲师介绍</td>
				<td colspan="3"><div class="jswb">
						浏览器支持
						
						所有浏览器都支持 align 属性。
						
						注释：IE 无法正确地处理 "justify" 值，IE 会以居中的方式进行处理。
						
						注释：几乎没有浏览器能够正确地处理 "char" 值。
						</div></td>
			</tr>
			<tr>
				<td class="bt">课程介绍</td>
				<td colspan="3"><div class="jswb">
						浏览器支持
						
						所有浏览器都支持 align 属性。
						
						注释：IE 无法正确地处理 "justify" 值，IE 会以居中的方式进行处理。
						
						注释：几乎没有浏览器能够正确地处理 "char" 值。
						</div></td>
			</tr>
			<tr>
				<td class="bt">课程状态</td>
				<td class='bgdata' colspan="3">123</td>
			</tr>
		</table>

	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-success" style="cursor: pointer" style="float: right;">选择学习本课程</button>
	</div>
</ng-template>