<div class="right_title">
	<img class="title_arrow" src="assets/images/title_arrow.png">
	<div class="title_txt">我的校本课
	</div>
</div>
<div class="right_content" id="cwpt" style="padding:5px;">
	<!-- 内容区域开始 -->
	<hr>
	
<div style="margin-left: 20px;"><i style="margin-right: 5px;color: #559aea;" class="icon ion-information-circled"></i>以下数据每分钟自动更新一次，或者点击<button style="margin: 0 5px;" class="btn btn-info btn-xs" (click)=sxsj()>更新数据</button>按钮随时更新。</div>
	<hr>
	<ngx-table [configuration]="configuration" [data]="data" [columns]="columns">
		<ng-template let-row>
			<td>
				<div class="font-small">
					{{row.Id}}
				</div>
			</td>
			<td>
				<div class="font-small">
					{{row.name}}
				</div>
			</td>
			<td>
				<span class="font-small">{{row.username}}</span>
			</td>
			<td>
				<span class="font-small">{{row.rs}}</span>
			</td>
			<td>
				<span class="font-small">{{row.ybrs}}</span>
			</td>
			<td>
				<span class="font-small">{{row.kssj}}</span>
			</td>
			<td>
				<span class="font-small">{{row.jssj}}</span>
			</td>
			<td>
				<span class="font-small">{{row.zt | zt}}</span>
			</td>
			<td>
				<button class="btn btn-primary btn-xs" (click)=xx(row.Id,kcxqmodal)>详细
				</button>
			</td>
		</ng-template>
	</ngx-table>
</div>
<!-- 内容区域结束 -->

<ng-template #kcxqmodal>
	<div class="modal-header">
		<h4 class="modal-title pull-left">课程详情</h4>
		<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<table class="kcbg">
			<tr> 
				<td class="bt">课程名称</td>
				<td class='bgdata' colspan="3"><span>{{kcdata.name}}</span></td>
			</tr>
			<tr>
				<td class="bt">开课时间</td>
				<td class='bgdata' colspan="3">{{kcdata.kssj}}——{{kcdata.jssj}}</td>
			</tr>

			<tr>
				<td class="bt">人数上限</td>
				<td class="nr bgdata">{{kcdata.rs}}
				</td>
				<td class="bt">已报人数</td>
				<td class="nr bgdata">{{kcdata.ybrs}}</td>
			</tr>
			<tr style="height: 180px;">
				<td class="bt">讲师</td>
				<td align="center" colspan="3">
					<div>
						<img class="img-thumbnail" height="180" width="180" [src]="jsimage" onError=" this.onerror=null;this.src='assets/images/jsimg/moren2.jpg';">
					</div>
					<div>{{kcdata.username}}</div>
				</td>
			</tr>
			<tr>
				<td class="bt">讲师介绍</td>
				<td colspan="3"><div class="jswb">
					{{kcdata.jsjs}}
						</div></td>
			</tr>
			<tr>
				<td class="bt">课程介绍</td>
				<td colspan="3"><div class="jswb">
					{{kcdata.js}}
						</div></td>
			</tr>
			<tr>
				<td class="bt">课程状态</td>
			<td class='bgdata' colspan="3">{{kcdata.zt | zt}}</td>
			</tr>
		</table>

	</div>
	<div class="modal-footer">
		<button class="btn btn-success" style="cursor: pointer" style="float: right;" (click)="xzkc(kcdata.Id)">选择学习本课程</button>
	</div>
</ng-template>