#c { position: relative;}
#a { position: absolute; left: 10; top: 10; font-size: 12px; font-family: 宋体; }
#b { position: absolute; left: 10; top: 10; font-size: 12px; font-family: 宋体; -moz-opacity:0;opacity: 0;filter: alpha(opacity=0); }
#logindev{
    margin-top: 220px; 
  }


  .login-wallpaper {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.ovh {
    overflow: hidden !important;
}
.h {
  height: 100% !important;
}
.w {
  width: 100% !important;
}
.panel-primary {
  border: 5px solid #dfedf9;
  filter: alpha(Opacity=95);
  -moz-opacity: 0.95;
  opacity: 0.95;
}