.ycleft {
    height: 60px;
    width: 10px;
    background-color: #559aea;
    position: absolute;
    right: -9px;
    margin: auto 0;
    top: 0;
    bottom: 0;
    border-radius: 0 25px 25px 0;
}
.ycleft i{
    position: absolute;
    color: #ffffff;
    top: 19px;
    left: 1px;
}
.left-hide-l{
    left:-235px; 
}
.left-hide-r{
    margin: 15px 15px 0 15px;
}
.left,.right {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}