<!-- 以下是左侧工具栏 -->

<div class="menu_1 menu_1_1"><span>考勤管理</span></div>
<div class="menu_1_2">
<div [routerLink]="['./zhxz/kqbsc']" class="out"><span>考勤表上传</span></div>
</div>	
<div class="menu_1 menu_1_1"><span>空</span></div>
<div class="menu_1_2">
<div class="out"><span>空</span></div>
<div class="out"><span>空</span></div>
<div class="out out_last"><span>空</span></div>
</div>	  
<div class="menu_1"><span>空</span></div>
<div class="menu_1_2">
<div class="out"><span>空</span></div>
<div class="out"><span>空</span></div>
<div class="out out_last"><span>空</span></div>
</div>	
<div class="menu_1"><span>空</span></div>
<div class="menu_1"><span>空</span></div>
<div class="menu_1"><span>空</span></div>
<div class="menu_1 menu_1_end"><span>空</span></div>

