
		<div class="right_title"><img class="title_arrow" src="assets/images/title_arrow.png">
			<div class="title_txt">为用户分配角色
			</div>
		</div>
<div class="right_content" id="cwpt" style="padding:5px;">
<!-- 内容区域开始 -->
<hr>
<div><h3>当前Id：{{data.user.Id}}</h3><h3>当前用户名：{{data.user.username}}</h3></div>

<form [formGroup]="myForm">
<table class="table table-condensed" style="width: 500px;" >

  
  <tr><td colspan="3"><h4>角色列表：</h4></td></tr>

    <tr class="like" *ngFor="let rol of assignment['controls']; let i = index;" >
     <td><input type="checkbox" [formControl]="rol"></td> 
     <td>name：{{assignmentall[i]['name']}} </td><td>描述：{{assignmentall[i]['description']}}</td>
    </tr>
    <div class="youselect">{{selects}}</div>
</table>
   </form>
<!-- 内容区域结束 -->
<button  type="button" class="btn btn-info" (click)="ok()" >分配角色</button>  
<button  type="button" class="btn btn-warning" (click)="fh()" >返回</button>  
</div>




